.countdown-timer {
  font-size: 20px;
  color: red;
  background-color: #555;
  padding: 6px;
  border-radius: 8px;
  display: inline-block;
  width: 40px;
  text-align: center;
}

.reading-time-container {
  font-size: 18px;
}

.btn {
  border: 2px solid black;
}

.start-answering-btn {
  background-color: #ffcccc !important;
  color: black !important;
  border-color: black !important;
}

.start-answering-btn:hover {
  background-color: #ff9999 !important;
  color: black !important;
  border-color: black !important;
}
