.summary-heading {
    display: block;
    font-weight: 900;
    font-size: 4rem;
    font-style: italic;
    filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.35));
}

.summary-button {
    height: 50px;
    background-color: #3F37DE;
    border: none;
    border-bottom: 6px solid #0F07AE;
    padding: 1px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: all 0.1s;
    position: relative;
    width: 220px;
    color: #fff;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

.summary-button:hover {
    background-color: #4F47EE;
}

.summary-button-secondary {
    width: 150px !important;
    background-color: #DDDBFF !important;
    border-bottom: 6px solid #bDbBdF !important;
    color: #000 !important;
    font-weight: 500 !important;
}

.summary-button-secondary:hover {
    background-color: #C7C4FF !important;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.table-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.summary-detail-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.alert {
    background-color: #DDDBFF !important;
    border: 1px solid #bDbBdF !important;
    color: #000 !important;
}

.alert > * {
    color: #000 !important;
}

@media(max-width: 991.98px) {
    .summary-heading {
        text-align: center;
    }

    .video-replays {
        width: 100%;
    }

    .video-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container video {
        width: 80%;
    }

    .summary-button {
        width: 170px;
        font-size: 1rem;
    }

    .summary-button-secondary {
        width: 110px !important;
    }
}